@import 'utils/vars';
@import 'utils/fonts';

html {
    line-height: 0.05em;
    font-size: 14px;
    color: #101010;
    height: 100%;   
}
body {
    margin: 0;
    padding: 0;
    //font-family: $mainFont;
    //font-size: ;
    //font-weight: ;
}
section, .section {
    padding: 40px 0;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
}
.item {
    height: 30px;
}
.item2 {
    //font-family: 'Quicksand';
    height: 30px;
}