extends ../layout/main

block variables
  //$location = document.location

block head
  style
    include ../includes/modules/header.scss

block content
  section
    .container
      div= "index.pug"

block script
  script(type='text/javascript').